

<div class="container-fluid">
    <div class="col-form-container">
        <h2 class="title">Registro de Ausencias</h2>
        <div class="hrflex"></div>
        <form 
             [formGroup]="ausenciasForm"
             
             class="row g-3 needs-validation"
             novalidate
             >
            <div class="row">
                <!-- Campo de Nombre -->
                <div class="col-md-6 mb-3">
                    <label for="name" class="form-label">Nombre</label>
                    <input formControlName = "name" type="text" class="form-control" id="nombre" placeholder="Nombre" required>
                </div>
                <!-- Campo de Registro -->
                <div class="col-md-6 mb-3">
                    <label for="registro" class="form-label">Registro</label>
                    <input formControlName = "registro" type ="text" class="form-control" id="registro" placeholder="Registro" required>
                </div>
            </div>
  
            <div class="row">
                <!-- Campo de Motivo -->
                <div class="col-md-6 mb-3">
                    <label for="motivo" class="form-label">Motivo</label>
                    <input formControlName ="motivo" type = "text" class="form-control" id="motivo" placeholder="Motivo" required>
                </div>
                <!-- Campo de Fecha Inicio -->
                <div class="col-md-3 mb-3">
                    <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
                    <input formControlName ="fecha_inicio" type="date" class="form-control" id="fecha_inicio" required>
                </div>
                <!-- Campo de Fecha Término -->
                <div class="col-md-3 mb-3">
                    <label for="fecha_termino" class="form-label">Fecha Término</label>
                    <input formControlName ="fecha_termino" type="date" class="form-control" id="fecha_termino" required>
                </div>
            </div>
  
  
            <!-- Botón Guardar -->
            <button (click)="agregarData()" type="submit" class="btn btn-success w-100">Guardar</button>
        </form>
  

    </div>
    <div class="row">
        <div col-12>
            <table class="table table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Registro</th>
                        <th scope="col">Motivo</th>
                        <th scope="col">Fecha Inicio</th>
                        <th scope="col">Fecha Termino</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of ausenciasService.ausencias; track $index) {
                        <tr>
                          
                            <td>{{item.name}}</td>
                            <td>{{item.registro}}</td>
                            <td>{{item.motivo}}</td>
                            <td>{{item.fecha_inicio}}</td>
                            <td>{{item.fecha_termino}}</td>
                        </tr>
                        
                    }
                    
                </tbody>
            </table>
            

        </div>


    </div>

</div>