.tableiconE{
    margin-right: 1em;
    color: burlywood;
    font-size: 1.5em;
}
.tableiconD{
    color: crimson;
    font-size: 1.5em;
}
.tablaiconos{
    display: flex;
}
.Scrolltable{
    overflow:hidden;
    overflow-x: scroll;
    height: 500px;
    overflow-y: scroll;
}